anthropic==0.42.0
anthropic_bedrock==0.8.0
docx==0.2.4
matplotlib==3.10.0
mistralai==1.2.5
numpy==2.2.0
openai==1.58.1
pandas==2.2.3
pdfplumber==0.10.3
python-dotenv==1.0.1
Requests==2.32.3
scipy==1.14.1
seaborn==0.13.2
statsmodels==0.14.4
tiktoken==0.8.0
PyPDF2==3.0.1
pytesseract==0.4.1
